* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}
.product {
    width: 50%;
}
.product-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.item {
    display: flex;
    gap: 20px;
    width: 1600px;
    margin: auto;
}
.c-box {
    width: 33.33%;
}
.red-bg {
    width: 100%;
    height: 200px;
    background: lightcoral;
}
.blue-bg {
    width: 100%;
    height: 200px;
    background: lightblue;
}
.green-bg {
    width: 100%;
    height: 200px;
    background: lightgreen;
}
.con-img {
    width: 20%;
}
/* .content-1 {
    width: 25%;
} */

@media(max-width:1600px) {
    .item {
        width: 100%;
    }
    
}
@media(max-width:768px) {
    .column {
        flex-direction: column;
    }
    .c-box {
        width: 100%;
    }
    .content-1 {
        width: 45%;
        /* width: 47%; */
    }
    .wrap {
        flex-wrap: wrap;
    }
    .gap {
        gap: 10%;
        /* gap: 20px; */
    }
    .con-img {
        width: 45%;
    }
    .con-img1 {
        width: 100%;
    }
}